@model User
@{
    ViewData["Title"] = "DeletUser";
}
<br />
<form method = "post" asp-action = "DeleteUserPOST">
    <input asp-for = "Id" hidden/>
    <div class = "border p-3 p-4">
        <h2>Delete User</h2>
        <hr />
        <div asp-validation-summary = "All"></div>
        <div class = "mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" disabled class="form-control"/>
            <span class = "text-bg-danger" asp-validation-for ="Name"></span>
        </div>
        <div class = "mb-3">
            <label asp-for="Email"></label>
            <input asp-for="Email" disabled class="form-control"/>
            <span class = "text-bg-danger" asp-validation-for ="Email"></span>
        </div>
        <button type ="submit" class = "btn btn-primary">Delete</button>
        <a class = "btn btn-primary" asp-action = "Index">Back To List</a>
    </div>
   
</form>

@section Scripts{
    @{
        <partial name = "_ValidationScriptsPartial"/>
    }
}

